<ion-toolbar>
  <ion-grid>
    <ion-row class="menu-row">
      <ion-col col-3>
        <ion-icon class="menu-item" name="home" (click)="toHome()"><br />
          <span class="menu-item-text">Home</span>
        </ion-icon>
      </ion-col>
      <ion-col col-3>
        <ion-icon class="menu-item" name="search" (click)="toCategories()"><br />
          <span class="menu-item-text">Journies</span>
        </ion-icon>
      </ion-col>
      <ion-col col-3>
        <ion-icon class="menu-item" name="briefcase"><br />
          <span class="menu-item-text">My Journey</span>
        </ion-icon>
      </ion-col>
      <ion-col col-3>
        <ion-icon class="menu-item" name="settings"><br />
          <span class="menu-item-text">Settings</span>
        </ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>