<span class="new-journies">Latest Journies</span><ion-badge>{{ (journies && journies.length) || 0 }}</ion-badge>
<div *ngIf="journies && journies.length > 0" class="latest-journies-scroll">
  <br />
  <ion-scroll scrollX="true" direction="x">
    <ion-card class="latest-journies" *ngFor="let journey of journies">
      <ion-card-header>
        <ion-item>
          <ion-avatar item-start>
            <ion-img width="40" height="40" [src]="journey.user && journey.user.picture"></ion-img>
          </ion-avatar>
          <span class="mini-journey-title" (click)="gotoJourneyDetails(journey.id)" item-end>
            {{ journey.category.name }}
          </span>
        </ion-item>
      </ion-card-header>
      <div id="video-container">
        <!-- <video autoplay="autoplay"> -->
        <video>        
          <source id="mp4" src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" type="video/mp4" />
        </video>
      </div>
    </ion-card>
  </ion-scroll>
</div>