page-edit-journey {
    .validation-error {
        
        width: 175px;

        div {
            color: red;
            font-size: 12px;
            font-style: italic;
            margin-left: 15px;
        }
    }

    button {
        margin-left: 15px !important;
        margin-top: 10px !important;
        flex-grow: 1 !important;
    }

    .save-and-cancel {
        display: flex;
        padding: 0;
        margin: 0;

        button {
            margin: 0 !important;
            padding: 0 !important;
            width: 50% !important;
            flex-grow: 1 !important;
        }
    }
}
