<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-item>
        Tag Along
        <div item-end>
          <ion-item>
            <button item-start ion-button *ngIf="!profile" (click)="login()">Login</button>
            <ion-avatar *ngIf="profile" item-start>
              <img width="40" height="40" [src]="profile.picture" />
            </ion-avatar>
            <button ion-button item-end *ngIf="profile" (click)="logout()">Logout</button>
          </ion-item>
        </div>
      </ion-item>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar 
    placeholder="Find your next journey" (ionInput)="search($event)">
  </ion-searchbar>
  <br />
  <div id="featured-journey">
    <featured-journey></featured-journey>
  </div>
  <br /><br />
  <ion-item>
    <journey-slider></journey-slider>
  </ion-item>
  <br /><br />
  <ion-fab right bottom>
    <button ion-fab mini>
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="left">
      <button ion-fab><ion-icon name="chatbubbles"></ion-icon></button>
      <button ion-fab><ion-icon name="pulse"></ion-icon></button>
      <button ion-fab><ion-icon name="videocam"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-footer>
  <footer-menu></footer-menu>
</ion-footer>
