<div *ngIf="journey">
  <ion-item class="feature-journey-title" no-lines>
    <span class="new-journies">
      {{ authService.isAuthenticated() ? "Your Journey" : "Featured Journey" }}
    </span>
  </ion-item>
  <ion-item no-lines>
    <ion-avatar item-start>
      <!-- <ion-img width="40" height="40" [src]="user_picture || ''"></ion-img> -->
      <ion-img width="40" height="40" src="{{ journey && journey.user && journey.user.picture || '' }}"></ion-img>
    </ion-avatar>
    <div id="feature-info" item-start>
      {{ journey && journey.user && journey.user.nickname || "" }}
      <p>
        <span class="last-updated">2 days ago</span>
      </p>
    </div>
    <span class="feature-journey-title" item-end>{{ journey && journey.title }}</span>
  </ion-item>
  <div id="video-container">
  <!-- <video autoplay="autoplay"> -->
    <video>        
      <source id="mp4" src="http://grochtdreis.de/fuer-jsfiddle/video/sintel_trailer-480.mp4" type="video/mp4" />
    </video>
  </div>
  <ion-item class="feature-journey-title" no-lines>
    <ion-icon name="pricetag" item-start></ion-icon>
    <ion-icon name="videocam" (click)="gotoPost('video')"></ion-icon>
    <div id="my-journey-options" *ngIf="this.authService.isAuthenticated()" item-end>
      <ion-icon name="videocam" (click)="gotoPost('video')"></ion-icon>
      <ion-icon name="recording" (click)="gotoPost('audio')"></ion-icon>
      <ion-icon name="create" (click)="gotoPost('blog')"></ion-icon>
    </div>
  </ion-item>
</div>

<div class="no-journies" *ngIf="!journey">
  <ion-item>
    <span class="no-journies-text">No Journies</span>
  </ion-item>
</div>