featured-journey {

    .no-journies-text {
        font-family: 'Lalezar';
        color: #716969;
    }

    #my-journey-options {
        
        ion-icon {
            padding-top: 10px;
            padding-right: 13px;
        }
    }
}
